<div class="courses-header">
    <p>Discover Our Courses</p>
    <button> View more</button>
</div>

<div class="courses">
    <div class="cours-container">
        <div class="cours">
          <img src="../../assets/banner.png" alt="Image du cours 1">
          <h2>Développement Web</h2>
          <p>Prix: 500 €</p>
        </div>
    </div>

    <div class="cours-container">
        <div class="cours">
          <img src="../../assets/banner.png" alt="Image du cours 1">
          <h2>Développement Web</h2>
          <p>Prix: 500 €</p>
        </div>
    </div><div class="cours-container">
        <div class="cours">
          <img src="../../assets/banner.png" alt="Image du cours 1">
          <h2>Développement Web</h2>
          <p>Prix: 500 €</p>
        </div>
    </div><div class="cours-container">
        <div class="cours">
          <img src="../../assets/banner.png" alt="Image du cours 1">
          <h2>Développement Web</h2>
          <p>Prix: 500 €</p>
        </div>
    </div><div class="cours-container">
        <div class="cours">
          <img src="../../assets/banner.png" alt="Image du cours 1">
          <h2>Développement Web</h2>
          <p>Prix: 500 €</p>
        </div>
    </div><div class="cours-container">
        <div class="cours">
          <img src="../../assets/banner.png" alt="Image du cours 1">
          <h2>Développement Web</h2>
          <p>Prix: 500 €</p>
        </div>
    </div>
</div>